venv
app/__pycache__/*
.env
app/schemas/__pycache__/*
app/services/__pycache__/*
app/core/__pycache__/*
app/clients/__pycache__/*
app/server/__pycache__/*
app/generated/__pycache__/*
tests/__pycache__/*
tests/grpc/__pycache__/*
app/sessions/__pycache__/*